@import "./_reset.scss";
@import  "./_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Nothing+You+Could+Do&family=Special+Elite&family=Wallpoet&display=swap');

/*
font-family: "Fredericka the Great";
font-family: "Nothing You Could Do";
  font-family: "Special Elite" ;
  font-family: "Wallpoet" ;
*/

html{
  background-color: $Antique-Blue-4-hex;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #022c43;
  overflow: hidden;
  display: block;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}


input , textarea {
    font-family: Arial, Helvetica, sans-serif;
}
.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  animation: fadeOut 1s 1s;
  animation-fill-mode: forwards;
}