.logo-container {
 z-index: 0;
width: 200px;
height: 500px;
position: absolute;
bottom: 0;
right: 20%;
}
.svgg {
    width: 100%;
    height: auto;

}
.solid-logo{
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    opacity: 0;

    z-index: 1;

}

.svg-container{
    stroke: rgb(86, 100, 119);
    stroke-width: 10px;
}