@import "_variables.scss";

.nav-bar {
  background-color: rgb(51, 61, 75);
  width: 6rem;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 4rem;
      height: auto;
      border-radius: 10px;
    }
  }
}

nav {
  display: block;
  text-align: center;
  position: absolute;
  height: 210px;
  top: 50%;
  margin-top: -8rem;
  width: 100%;
  a {
    font-size: 1.2rem;
    color: $October-2-hex;
    display: block;
    line-height: 3.2rem;
    height: 3.2rem;
    position: relative;
    text-decoration: none;
    i {
      transition: all 0.3s ease-out;
    }
    &:hover {
      color: $October-4-hex;
      svg {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
    &:after {
      content: "";
      font-size: 10px;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: all 0.3s ease-out;
    }
    &:first-child {
      &::after {
        content: "HOME";
      }
    }
  }

  a.about-link {
    &::after {
      content: "ABOUT";
    }
  }
  a.contact-link {
    &::after {
      content: "CONTACT";
    }
  }
  a.active {
    svg {
      color: $Teals-2;
    }
  }
}

ul {
  position: absolute;
  bottom: 1.2rem;
  width: 100%;
  display: block;
  padding: 0;
  list-style: none;
  margin: 0;
  text-align: center;

  li {
    margin: 1rem;

    a {
      color: $Teals-1;
      padding: 7px 0;
      font-size: 1.3rem;
      &:hover {
        color: $October-4-hex;
      }
    }
  }
}
